<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Chapter05._2_Open_Image.Chapter05._2_Open_Image" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Chapter05._2_Open_Image"></application>
</manifest>